<html>
<head>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"></script>

  <script>
  let web3 = new Web3(Web3.givenProvider);
  window.ethereum.enable();

  web3.eth.getAccounts().then(function (accounts) {
    $("#address").val(accounts[0]);
  });


  </script>
</head>
<body>
  <p>This will take you to google...</p>
  <form method="POST">
    Wallet:  <input id="address" name="address" readonly>
    <button>Request OAUTH</button>
  </form>

</body>
</html>
